.icon-row {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  margin-top: 25px;
}

.icon-row__icon i {
  font-size: 33px;
  color: var(--base-purple);
}

.icon-row__icon span {
  margin-top: 15px;
}
