#no-mobile{
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: #dab3f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    top: 0;
}

@media screen and (max-width:645px){
    #no-mobile {
        display: none;
    }
}